Repository camunda/connectors, pull requests merged in 2022-12, with the labels that each got.

#46 Add MS Teams connector
  bundle/mvn/default-bundle/pom.xml
  bundle/mvn/pom.xml
  connectors/microsoft-teams/LICENSE.txt
  connectors/microsoft-teams/README.md
  connectors/microsoft-teams/connector.yml
  connectors/microsoft-teams/element-templates/microsoft-teams-connector.json
  connectors/microsoft-teams/pom.xml
  connectors/microsoft-teams/src/main/java/io/camunda/connector/MSTeamsFunction.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/model/MSTeamsRequest.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/model/Member.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/model/OrderBy.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/model/authentication/BearerAuthentication.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/model/authentication/ClientSecretAuthentication.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/model/authentication/MSTeamsAuthentication.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/model/request/MSTeamsRequestData.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/model/request/channel/CreateChannel.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/model/request/channel/GetChannel.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/model/request/channel/GetChannelMessage.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/model/request/channel/ListChannelMembers.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/model/request/channel/ListChannelMessages.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/model/request/channel/ListChannels.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/model/request/channel/ListMessageRepliesInChannel.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/model/request/channel/SendMessageToChannel.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/model/request/chat/CreateChat.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/model/request/chat/GetChat.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/model/request/chat/GetMessageInChat.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/model/request/chat/ListChatMembers.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/model/request/chat/ListMessagesInChat.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/model/request/chat/SendMessageInChat.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/suppliers/GraphServiceClientSupplier.java
  connectors/microsoft-teams/src/main/java/io/camunda/connector/suppliers/GsonSupplier.java
  connectors/microsoft-teams/src/main/resources/META-INF/services/io.camunda.connector.api.outbound.OutboundConnectorFunction
  connectors/microsoft-teams/src/test/java/io/camunda/connector/BaseTest.java
  connectors/microsoft-teams/src/test/java/io/camunda/connector/MSTeamsFunctionChannelTest.java
  connectors/microsoft-teams/src/test/java/io/camunda/connector/TestCasesPath.java
  connectors/microsoft-teams/src/test/java/io/camunda/connector/model/MSTeamsRequestTest.java
  connectors/microsoft-teams/src/test/java/io/camunda/connector/model/MemberTest.java
  connectors/microsoft-teams/src/test/java/io/camunda/connector/model/request/channel/CreateChannelTest.java
  connectors/microsoft-teams/src/test/java/io/camunda/connector/model/request/channel/GetChannelMessageTest.java
  connectors/microsoft-teams/src/test/java/io/camunda/connector/model/request/channel/GetChannelTest.java
  connectors/microsoft-teams/src/test/java/io/camunda/connector/model/request/channel/ListChannelMembersTest.java
  connectors/microsoft-teams/src/test/java/io/camunda/connector/model/request/channel/ListChannelMessagesTest.java
  connectors/microsoft-teams/src/test/java/io/camunda/connector/model/request/channel/ListChannelsTest.java
  connectors/microsoft-teams/src/test/java/io/camunda/connector/model/request/channel/ListMessageRepliesInChannelTest.java
  connectors/microsoft-teams/src/test/java/io/camunda/connector/model/request/channel/SendMessageToChannelTest.java
  connectors/microsoft-teams/src/test/resources/requests/channel/create-channel-validation-fail-test-cases.json
  connectors/microsoft-teams/src/test/resources/requests/channel/get-channel-message-validation-fail-test-cases.json
  connectors/microsoft-teams/src/test/resources/requests/channel/get-channel-validation-fail-test-cases.json
  connectors/microsoft-teams/src/test/resources/requests/channel/list-channel-members-validation-fail-test-cases.json
  connectors/microsoft-teams/src/test/resources/requests/channel/list-channel-messages-validation-fail-test-cases.json
  connectors/microsoft-teams/src/test/resources/requests/channel/list-channels-validation-fail-test-cases.json
  connectors/microsoft-teams/src/test/resources/requests/channel/list-message-replies-validation-fail-test-cases.json
  connectors/microsoft-teams/src/test/resources/requests/channel/send-message-to-channel-validation-fail-test-cases.json
  connectors/microsoft-teams/src/test/resources/requests/parse-request-test-cases.json
  connectors/microsoft-teams/src/test/resources/requests/success-channel-request-test-cases.json
  connectors/pom.xml
Labels: scope:msteams

#57 Add Slack connector
  bundle/mvn/pom.xml
  connectors/pom.xml
  connectors/slack/LICENSE.txt
  connectors/slack/README.md
  connectors/slack/connector.yml
  connectors/slack/element-templates/slack-connector.json
  connectors/slack/pom.xml
  connectors/slack/src/main/java/io/camunda/connector/slack/SlackFunction.java
  connectors/slack/src/main/java/io/camunda/connector/slack/SlackRequest.java
  connectors/slack/src/main/java/io/camunda/connector/slack/SlackRequestData.java
  connectors/slack/src/main/java/io/camunda/connector/slack/SlackResponse.java
  connectors/slack/src/main/java/io/camunda/connector/slack/dto/Conversation.java
  connectors/slack/src/main/java/io/camunda/connector/slack/model/ChatPostMessageData.java
  connectors/slack/src/main/java/io/camunda/connector/slack/model/ChatPostMessageSlackResponse.java
  connectors/slack/src/main/java/io/camunda/connector/slack/model/ConversationsCreateData.java
  connectors/slack/src/main/java/io/camunda/connector/slack/model/ConversationsCreateSlackResponse.java
  connectors/slack/src/main/java/io/camunda/connector/slack/model/ConversationsInviteData.java
  connectors/slack/src/main/java/io/camunda/connector/slack/model/ConversationsInviteSlackResponse.java
  connectors/slack/src/main/java/io/camunda/connector/slack/suppliers/GsonSupplier.java
  connectors/slack/src/main/java/io/camunda/connector/slack/utils/DataLookupService.java
  connectors/slack/src/main/java/io/camunda/connector/slack/utils/SlackRequestDeserializer.java
  connectors/slack/src/main/resources/META-INF/services/io.camunda.connector.api.outbound.OutboundConnectorFunction
  connectors/slack/src/test/java/io/camunda/connector/slack/BaseTest.java
  connectors/slack/src/test/java/io/camunda/connector/slack/SlackFunctionTest.java
  connectors/slack/src/test/java/io/camunda/connector/slack/SlackRequestTest.java
  connectors/slack/src/test/java/io/camunda/connector/slack/TestCasesPath.java
  connectors/slack/src/test/java/io/camunda/connector/slack/model/ChatPostMessageDataTest.java
  connectors/slack/src/test/java/io/camunda/connector/slack/model/ChatPostMessageSlackResponseTest.java
  connectors/slack/src/test/java/io/camunda/connector/slack/model/ConversationsInviteDataTest.java
  connectors/slack/src/test/java/io/camunda/connector/slack/model/ConversationsInviteSlackResponseTest.java
  connectors/slack/src/test/java/io/camunda/connector/slack/utils/DataLookupServiceTest.java
  connectors/slack/src/test/resources/application.properties
  connectors/slack/src/test/resources/requests/test-cases/execute-create-channel.json
  connectors/slack/src/test/resources/requests/test-cases/execute-function-with-channel-name.json
  connectors/slack/src/test/resources/requests/test-cases/execute-function-with-email.json
  connectors/slack/src/test/resources/requests/test-cases/execute-function-with-username.json
  connectors/slack/src/test/resources/requests/test-cases/execute-invite-to-channel-wrong-input.json
  connectors/slack/src/test/resources/requests/test-cases/execute-invite-to-channel.json
  connectors/slack/src/test/resources/requests/test-cases/replace-secrets.json
  connectors/slack/src/test/resources/requests/test-cases/validate-fields-fail.json
  connectors/slack/src/test/resources/requests/test-cases/with-wrong-method.json
Labels: kind:task, scope:slack

#58 docs: adjust labels in issue templates
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/TASK.md
Labels: kind:task, scope:bundle

#65 Http json url block
  connectors/http-json/src/main/java/io/camunda/connector/http/HttpJsonFunction.java
Labels: kind:task, scope:rest

#86 ci: add version to release run name
  .github/workflows/RELEASE.yaml
Labels: kind:task, scope:bundle

#115 ci: don't set assignee in TPL PR
  .github/workflows/THIRD_PARTY_NOTICE.yaml
Labels: kind:task, scope:bundle

#134 ci: push readmes to dockerhub
  .github/workflows/RELEASE.yaml
Labels: kind:task, scope:bundle

#100 Manage Connectors' dependencies centrally
  THIRD_PARTY_NOTICES
  bundle/mvn/camunda-saas-bundle/THIRD_PARTY_NOTICES
  bundle/mvn/camunda-saas-bundle/pom.xml
  bundle/mvn/default-bundle/THIRD_PARTY_NOTICES
  bundle/mvn/default-bundle/pom.xml
  bundle/mvn/pom.xml
  connectors/aws-lambda/README.md
  connectors/aws-lambda/THIRD_PARTY_NOTICES
  connectors/aws-lambda/pom.xml
  connectors/google-drive/THIRD_PARTY_NOTICES
  connectors/google-drive/pom.xml
  connectors/http-json/THIRD_PARTY_NOTICES
  connectors/http-json/pom.xml
  connectors/kafka/pom.xml
  connectors/microsoft-teams/THIRD_PARTY_NOTICES
  connectors/microsoft-teams/pom.xml
  connectors/pom.xml
  connectors/rabbitmq/README.md
  connectors/rabbitmq/THIRD_PARTY_NOTICES
  connectors/rabbitmq/pom.xml
  connectors/sendgrid/THIRD_PARTY_NOTICES
  connectors/sendgrid/pom.xml
  connectors/slack/THIRD_PARTY_NOTICES
  connectors/slack/pom.xml
  connectors/sns/THIRD_PARTY_NOTICES
  connectors/sns/pom.xml
  connectors/sns/src/test/java/io/camunda/connector/BaseTest.java
  connectors/sns/src/test/java/io/camunda/connector/SnsConnectorFunctionParametrizedTest.java
  connectors/sns/src/test/java/io/camunda/connector/SnsConnectorFunctionTest.java
  connectors/sns/src/test/java/io/camunda/connector/SnsConnectorRequestTest.java
  connectors/sqs/THIRD_PARTY_NOTICES
  connectors/sqs/pom.xml
  pom.xml
Labels: scope:bundle, dependencies
