Repository camunda/connectors, pull requests merged in 2023-12, with the labels that each got.

#1469 feat(generator): add retry count property
  connectors/automation-anywhere/element-templates/automation-anywhere-outbound-connector.json
  connectors/http/rest/element-templates/http-json-connector-hybrid.json
  connectors/http/rest/element-templates/http-json-connector.json
  element-template-generator/core/src/main/java/io/camunda/connector/generator/dsl/CommonProperties.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/dsl/OutboundElementTemplateBuilder.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/dsl/PropertyBinding.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/dsl/PropertyGroup.java
  element-template-generator/core/src/test/java/io/camunda/connector/generator/java/OutboundTemplateGeneratorTest.java
  element-template-generator/core/src/test/resources/test-element-template.json
  element-template-generator/openapi-parser/src/main/java/io/camunda/connector/generator/openapi/OpenApiOutboundTemplateGenerator.java
Labels: component:template-generator

#1453 feat(generator)!: Template generation for multiple element types
  element-template-generator/congen-cli/src/main/java/io/camunda/connector/generator/cli/command/ConGen.java
  element-template-generator/congen-cli/src/main/java/io/camunda/connector/generator/cli/command/Generate.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/api/ElementTemplateGenerator.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/api/GeneratorConfiguration.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/dsl/BpmnType.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/dsl/OutboundElementTemplate.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/dsl/OutboundElementTemplateBuilder.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/java/OutboundClassBasedTemplateGenerator.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/java/annotation/ElementTemplate.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/java/util/ConfigurationUtil.java
  element-template-generator/core/src/test/java/io/camunda/connector/generator/BaseTest.java
  element-template-generator/core/src/test/java/io/camunda/connector/generator/dsl/OutboundElementTemplateSerializationTest.java
  element-template-generator/core/src/test/java/io/camunda/connector/generator/dsl/OutboundElementTypeSupportTest.java
  element-template-generator/core/src/test/java/io/camunda/connector/generator/java/OutboundClassBasedTemplateGeneratorTest.java
  element-template-generator/core/src/test/java/io/camunda/connector/generator/java/example/MyConnectorFunction.java
  element-template-generator/http-dsl/src/main/java/io/camunda/connector/generator/dsl/http/HttpOutboundElementTemplateBuilder.java
  element-template-generator/http-dsl/src/test/java/io/camunda/connector/generator/dsl/http/HttpOutboundElementTemplateBuilderTest.java
  element-template-generator/maven-plugin/src/main/java/io/camunda/connector/generator/ElementTemplateGeneratorMojo.java
  element-template-generator/openapi-parser/src/main/java/io/camunda/connector/generator/openapi/OpenApiOutboundTemplateGenerator.java
Labels: kind:enhancement, component:template-generator

#1485 refactor: change dockerfile uid and gid
  bundle/camunda-saas-bundle/Dockerfile
  bundle/default-bundle/Dockerfile
  connector-runtime/connector-runtime-application/Dockerfile
Labels: docker

#1492 refactor: change dockerfile uid and gid
  bundle/camunda-saas-bundle/Dockerfile
  bundle/default-bundle/Dockerfile
  connector-runtime/connector-runtime-application/Dockerfile
Labels: docker

#1551 fix(jackson): broken feel context aware deserialization
  connector-sdk/jackson-datatype-feel/src/main/java/io/camunda/connector/feel/jackson/AbstractFeelDeserializer.java
Labels: kind:bug, backport release/8.3

#1555 ci: smart tag selector for release workflow
  .github/workflows/RELEASE.yaml
  .github/workflows/scripts/prev_tag.sh
Labels: backport release/8.3

#1559 build: broken javadoc for OpenApiGenerationSource
  element-template-generator/openapi-parser/src/main/java/io/camunda/connector/generator/openapi/OpenApiGenerationSource.java
Labels: kind:bug

#1561 feat(generator): Enhanced nested properties support
  connectors/automation-anywhere/src/main/java/io/camunda/connector/automationanywhere/model/request/auth/Authentication.java
  connectors/automation-anywhere/src/main/java/io/camunda/connector/automationanywhere/model/request/operation/OperationData.java
  connectors/http/http-base/src/main/java/io/camunda/connector/http/base/auth/Authentication.java
  element-template-generator/core/README.md
  element-template-generator/core/src/main/java/io/camunda/connector/generator/dsl/BooleanProperty.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/dsl/DropdownProperty.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/dsl/HiddenProperty.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/dsl/PropertyBuilder.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/dsl/StringProperty.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/dsl/TextProperty.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/java/annotation/NestedProperties.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/java/annotation/TemplateProperty.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/java/processor/TemplatePropertyFieldProcessor.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/java/util/DiscriminatorPropertyBuilder.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/java/util/TemplatePropertiesUtil.java
  element-template-generator/core/src/test/java/io/camunda/connector/generator/java/OutboundClassBasedTemplateGeneratorTest.java
  element-template-generator/core/src/test/java/io/camunda/connector/generator/java/example/MyConnectorInput.java
Labels: component:template-generator

#1584 feat(correlation): Webhooks now have access to the correlation result…
  connector-runtime/connector-runtime-core/src/main/java/io/camunda/connector/runtime/core/inbound/correlation/InboundCorrelationHandler.java
  connector-runtime/connector-runtime-core/src/test/java/io/camunda/connector/runtime/core/inbound/correlation/InboundCorrelationHandlerTest.java
  connector-runtime/connector-runtime-spring/src/main/java/io/camunda/connector/runtime/inbound/webhook/InboundWebhookRestController.java
  connector-runtime/spring-boot-starter-camunda-connectors/src/test/java/io/camunda/connector/runtime/inbound/WebhookControllerTestZeebeTests.java
  connector-sdk/core/src/main/java/io/camunda/connector/api/inbound/CorrelationResult.java
  connector-sdk/core/src/main/java/io/camunda/connector/api/inbound/webhook/WebhookResultContext.java
  connector-sdk/test/src/main/java/io/camunda/connector/test/inbound/InboundConnectorContextBuilder.java
Labels: backport release/8.3

#1592 fix(generator): restore prefixes for template discriminator properties
  connectors/automation-anywhere/src/main/java/io/camunda/connector/automationanywhere/model/request/auth/Authentication.java
  connectors/automation-anywhere/src/main/java/io/camunda/connector/automationanywhere/model/request/operation/OperationData.java
  connectors/http/http-base/src/main/java/io/camunda/connector/http/base/auth/Authentication.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/java/util/DiscriminatorPropertyBuilder.java
  element-template-generator/core/src/main/java/io/camunda/connector/generator/java/util/TemplatePropertiesUtil.java
  element-template-generator/core/src/test/java/io/camunda/connector/generator/java/OutboundClassBasedTemplateGeneratorTest.java
Labels: kind:bug, component:template-generator

#1612 fix(operate): handle nulls in process instance importing
  connector-runtime/connector-runtime-spring/src/main/java/io/camunda/connector/runtime/inbound/operate/OperateClientAdapterImpl.java
Labels: backport release/8.3

#1614 fix(docker): set a custom location for zeebe credentials cache
  bundle/camunda-saas-bundle/Dockerfile
  bundle/default-bundle/Dockerfile
  connector-runtime/connector-runtime-application/Dockerfile
Labels: docker, backport release/8.3, version:8.4.0, version:8.3.3
