Repository camunda/connectors, pull requests merged in 2023-03, with the labels that each got.

#336 fix(inbound): add element type to inbound connector templates
  connectors/github/element-templates/github-webhook-connector.json
  connectors/webhook-connector/element-templates/webhook-connector.json
Labels: kind:bug, scope:element-template

#345 feat(bundle-saas): support m2m authentication in SaaS
  bundle/mvn/camunda-saas-bundle/pom.xml
  bundle/mvn/camunda-saas-bundle/src/main/java/io/camunda/connector/runtime/security/AudienceValidator.java
  bundle/mvn/camunda-saas-bundle/src/main/java/io/camunda/connector/runtime/security/SecurityConfiguration.java
  bundle/mvn/camunda-saas-bundle/src/main/resources/application.properties
  pom.xml
Labels: scope:bundle

#359 chore: bump SDK to 0.7.0
  pom.xml
Labels: dependencies

#383 OpenAI / ChatGPT Connector
  connectors/openai/LICENSE.txt
  connectors/openai/README.md
  connectors/openai/element-templates/openai-connector.json
  connectors/openai/img/process_example.png
Labels: hackathon, scope:openai

#394 Camunda Operate Connector
  connectors/operate/LICENSE.txt
  connectors/operate/README.md
  connectors/operate/element-templates/operate-connector.json
Labels: hackathon, scope:operate

#389 feat: add github outbound connector
  connectors/github-outbound/LICENSE.txt
  connectors/github-outbound/README.md
  connectors/github-outbound/element-templates/github-connector.json
Labels: hackathon
