Repository camunda/connectors, pull requests merged in 2024-01, with the labels that each got.

#1637 chore(preview-env): Final adjustments
  .ci/preview-environments/charts/c8sm/values.yaml
  .github/workflows/PREVIEW-ENV-DEPLOY.yml
  .github/workflows/PREVIEW-ENV-TEARDOWN.yml
Labels: deploy-preview

#1641 chore(deps): Update to spring-zeebe 8.4.0-rc1
  parent/pom.xml
Labels: backport release/8.4

#1646 chore(deps): Update to spring-zeebe 8.3.4.7
  parent/pom.xml
Labels: deploy-preview

#1634 feat(github): invoke workflow (create workflow dispatch event) from element template
  connectors/github/element-templates/github-connector.json
Labels: deploy-preview

#1734 chore(preview-env): Use a static name for the TLS secret
  .ci/preview-environments/argo/c8sm.yml
  .ci/preview-environments/charts/c8sm/templates/certificate.yml
  .ci/preview-environments/charts/c8sm/templates/ingress.yml
Labels: deploy-preview

#1771 chore: bump versions of the auto-generated element templates
  connectors/automation-anywhere/element-templates/automation-anywhere-outbound-connector.json
  connectors/automation-anywhere/src/main/java/io/camunda/connector/automationanywhere/AutomationAnywhereConnector.java
  connectors/http/rest/element-templates/http-json-connector-hybrid.json
  connectors/http/rest/element-templates/http-json-connector.json
  connectors/http/rest/src/main/java/io/camunda/connector/http/rest/HttpJsonFunction.java
Labels: scope:rest, scope:element-template, scope:automationanywhere

#1772 fix(generator): ConGen - improve help, fix multi-template bugs
  element-template-generator/congen-cli/src/main/java/io/camunda/connector/generator/cli/command/ConGen.java
  element-template-generator/congen-cli/src/main/java/io/camunda/connector/generator/cli/command/Generate.java
  element-template-generator/http-dsl/src/main/java/io/camunda/connector/generator/dsl/http/HttpFeelBuilder.java
  element-template-generator/http-dsl/src/main/java/io/camunda/connector/generator/dsl/http/HttpOutboundElementTemplateBuilder.java
  element-template-generator/openapi-parser/src/main/java/io/camunda/connector/generator/openapi/OpenApiOutboundTemplateGenerator.java
Labels: component:template-generator

#1774 fix(webhook): inconsistent webhook de-registration
  connector-runtime/connector-runtime-spring/src/main/java/io/camunda/connector/runtime/inbound/lifecycle/InboundConnectorManager.java
  connector-runtime/connector-runtime-spring/src/main/java/io/camunda/connector/runtime/inbound/webhook/WebhookConnectorRegistry.java
  connector-runtime/spring-boot-starter-camunda-connectors/src/test/java/io/camunda/connector/runtime/inbound/WebhookControllerPlainJavaTests.java
Labels: scope:runtime

#1847 chore(identity): switch to new identity config
  bundle/default-bundle/src/test/resources/application.properties
  connector-runtime/README.md
  connector-runtime/connector-runtime-application/src/main/resources/application.properties
Labels: backport release/8.4
